@font-face {
    font-family: 'PLAZAN';
    src: url('/Batman/PLAZAN.TTF') format('truetype');
}

.animation {
    scroll-behavior: smooth; /* Added smooth scrolling */
    /* Additional styles can be added here */
}

body{
    font-family: 'PLAZAN', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15.5px;
    background: linear-gradient(to bottom, #a41d11, #040712);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    padding: 0.7em;
    font-size: 5.0rem;
    font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
    padding: 0.7em;
    font-size: 2.0em;
}
time {
    padding: 0.7em;
    font-size: 1.80em;
    color: whitesmoke;
    
}

p {
    padding: 0.7em;
    font-size: 1.45rem;
    color: rgb(234, 226, 226);
    max-width: 600px;
    text-align: left;
}
.headshot {
    width: 590px;
    /* height: px; */
    display: block;
    margin: 5 auto;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0 4px 8px black;
}
